/* reset.css */
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/luckiestguy/v11/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

input[type="text"],
textarea {
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -webkit-appearance: none;
}

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ul {
    list-style-position: inside;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

p {
    margin: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    float: none !important;
}

table,
th,
td {
    vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

blockquote,
q {
    quotes: "" "";
}

a img {
    border: none;
}

 :focus {
    outline: 0;
}

html {
    width: 100%;
}

img {
    max-width: 100%;
}

button:focus {
    outline: none;
}

body {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'latolight', sans-serif;
    font-style: normal;
    background: #0E0E0E;
    color: #F7E4E4;
    overflow-x: hidden;
    position: relative;
    bottom: 60px;
}

.container {
    margin: 0 auto;
}

p {
    margin: 0;
}

a {
    color: #050505;
    transition-duration: 0.5s;
}

a:hover {
    color: #fff;
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover,
a:active,
a:focus {
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition-duration: 1s;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 12px 25px;
    transition-duration: 1s;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}



.button-wrapper{
    text-align: center;
}

.btn {
    color: #F7E4E4;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 45px;
    border: none;
    outline: none;
    letter-spacing: 1.5px;
    border-radius: 0;
}

.btn-gradient {
    color: #ffffff;
    background-image: -o-linear-gradient(left, #3234ff, #f43482);
    background-image: -webkit-gradient(linear, left top, right top, from(#3234ff), to(#f43482));
    background-image: linear-gradient(to right, #3234ff, #f43482);
    position: relative;
    z-index: 1;
}

.btn-gradient:hover {
    color: #ffffff;
    /*background-image: linear-gradient(to left, #3234ff, #f43482);*/
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.btn-gradient::after {
    content: '';
    position: absolute;
    background-image: -o-linear-gradient(right, #3234ff, #f43482);
    background-image: -webkit-gradient(linear, right top, left top, from(#3234ff), to(#f43482));
    background-image: linear-gradient(to left, #3234ff, #f43482);
    z-index: -1;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-gradient:hover::after {
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

/*-------------------------------------------*/


/*-------------------------------------------*/

header {
    background: linear-gradient(#fe00e4, #0000ec);
    position: relative;

}

header .part{
    display: inline;
}

header img{
    width: 15%;
    position: relative;
    top: 20px;
    padding-left: 37px;
}

header .container {
    text-align: center;
    background-position-x: center;
    padding-top: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container{
    color: white;
}

.choose_bar {
    width: 100%;
    display: block;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    background-color: #1F1F88;
    z-index: 3;
}

.movie_bar{
    margin-top: 5%;
    margin-bottom: 4%;
    z-index: 100;
}

.choose_bar a{
    color: #F7E4E4;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8%;
    padding-left: 8%;
    font-size: 22px;
    display: inline-block;
}

.choose_bar a:hover {
    color: #414141;
    transition-duration: 1s;
}

.choose_bar .container{
    text-align: center;

}

.movie_items{
    position: relative;
}


.item{
    position: relative;
    display: block ruby;
    width: 100%;
    padding: 3%;
    border: 1px solid blueviolet;
    margin-bottom: 3%;
    background-color: #1F1F3A;
    opacity: 90%;
    z-index:1000;
}


.item .part{
    position: relative;
    width: 50%;
}

.item .button-wrapper{
    position:relative;
	bottom: 25px;
}

.all{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.info{
    font-size: 18px;
    text-transform: uppercase;
}


.center-outer {
    display: table;
    width: 100%;
}

.center-inner {
    display: table-cell;
}

.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.bubbles a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 500%;
    color: #fff;
    z-index: 2;
}

.bubbles a:hover {
    font-family: 'Luckiest Guy', cursive;
    font-size: 500%;
    color: #000;
    z-index: 2;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 60px;
    background-color: #fff;
    z-index: 1;
}



.staff_bar {
    position: relative;
    display: flex;
}

.person_photo{
    width: 80%;
    border: 3px solid black;
}

.one_person{
    width: 45%;
    border: 4px solid transparent;
  border-image: linear-gradient(#00008B, #8B008B);
  -moz-border-image: -moz-linear-gradient(#00008B , #8B008B);
  -webkit-border-image: -webkit-linear-gradient(#00008B , #8B008B);
  border-image-slice: 1;

    padding: 2%;
    margin: 20px;
}

.title {
    font-size: 43px;
    text-transform: uppercase;
    margin: 5%;
    font-weight: bold;
    text-shadow: 2px 5px 7px blueviolet;
    color: #B6B6FE;
    padding: 17px;
}


.one_person p{
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    background:  linear-gradient(90deg, #8B008B, #00008B);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about_us {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 5%;
}

.contact {
  position: relative;
  display: flex;
  margin-top: 5%;
}

.contact-part {
  margin: 20px;
}

.contact-block {
  margin-top: 8%;
  margin-bottom: 8%;
}

.map{
    margin-top: 10%;
    margin-left: 10%;
}

.main{
  font-weight: bold;
}

.about_company .text_about{
    text-align: center;
    font-size: 19px;
    line-height: 35px;
    margin: 5%;
    background: linear-gradient(60deg, blueviolet , pink,#fe00e4 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background: linear-gradient(#0000ec, #fe00e4);
    margin-bottom: -59px;
    margin-top: 15%;
    position: relative;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
}

.phone{
    display: grid;
}

.contact_inform{
    padding: 2%;
    display: flex;
}

.left{
    text-align: left;
}

footer .part{
    width:50%;
}

.right{
    text-align: right;
}

.graviti{
    position: absolute;
    bottom: 12%;
    width: 22%;
    left: 71%;
}


.malifisenta{
    position: absolute;
    top: 11%;
    left: 17%;
    width: 69%;
}

.chudorii p:first-letter {
    font-size: 150%;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 3px;
  margin: 3px;
  border-radius: 8px;
}

.chudorii {
  margin: 2%;
  padding-left: 43%;
  text-align: left;
  position: relative;
}

.dikaprio{
  position:absolute;
  width: 50%;
  top: 21%;
  left: -19%;
}

.text_about_us{
    margin-bottom: 9%;
    border-bottom: 2px solid blueviolet;
    padding-bottom: 3%;
}

.all_movies_list{
    margin-top: 7%;

}

.line{
    display:flex;
}

.line p:first-child{
    font-weight: bold;
    margin-bottom: 30px;
}

.all_information{
    margin-bottom: 50px;
}

.about_movie{
    font-size: 20px;
    font-style: italic;
}

.btn_bar{
    text-align: center;
}

.btn_bar a{
    margin: 30px;
}

.modal-content{
    background: cornflowerblue;
}

.modal-body label {
    color: black;
    width: 25%;
}

.one_label{
    margin-top: 30px;
}

.one_label i {
    margin: 5px;
}

.add_many_to_many button{
    padding:0;
    margin: 20px;
}