{% extends 'poster/base.html' %}
{% load static %}
{% block content %}
<div class="container about_us">
    <div class="text_about_us">
        <div class="title">О нас</div>
        <p>Добро пожаловать в наш скромный общажный кинотеатр!</p>
        <p>Чудории (сокращенно от "Чудесные истории") - это лучшие фильмы ever.</p>
        <p>Чудории - это место, где вы можете посмотреть свои самые любимые мультики.</p>
        <p>Чудории - это уютнейшая атмосфера.</p>
        <p>Чудории - это качество звука и изображения.</p>
        <p>Чудории - это самый вкусный буфет с лучшим в мире чаем!</p>
        <p>Чудории - это приятная компания в виде наших чудесных сотрудников.</p>

        <img class="dikaprio" src="{% static 'images/dikaprio.png' %}">
        <div class="chudorii">
            <p>Честные</p>
            <p>Ударные</p>
            <p>Дружелюбные</p>
            <p>Оригинальные</p>
            <p>Респектабельные</p>
            <p>Интереснейшие</p>
            <p>Искренние</p>
        </div>
        <p>Чудории - это все о нас! Вэлком!!!</p>

    </div>


    <div class="title">Сотрудники</div>
    <p>Самые чудесные сотрудники только у нас! Знакомьтесь:</p>
    <div class="staff_bar">
        <div class="one_person alesya">
            <img class="person_photo" src="{% static 'images/alesya.jpg' %}">
            <p>Aлеся Кроп</p>
        </div>
        <div class="one_person rita">
            <img class="person_photo" src="{% static 'images/rita.jpg' %}">
            <p>Рита Прохожая</p>
        </div>
    </div>
</div>
{% endblock content %}